@model GameReview.Models.UserViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron col-md-12">
    <h1>@Html.DisplayFor(model => model.UserName)</h1>

</div>

    <div class="row">
        <div class="col-md-4">
            <form action="@Url.Action("Index", "Search")" method="get" class="form-horizontal">
                <input type="text" name="q" value="" class="form-control input-lg" />
                <input type="submit" value="Submit" class="form-control btn btn-lg" />
            </form>
        </div>
    </div>
