body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div #jumbotron-home {
    background-color: rgba(0,0,0,1)
}

.gallery {
    display: inline-block;
    margin-top: 20px;
}

#edit-icon {
    display: none;
    position: absolute;
    left: 95%;
}

.icon-hover:hover #edit-icon {
    display: block;
}

.search-form {
    margin-left: 10px !important;
}

    .search-form input[type="text"] {
        max-width: none !important;
        width: 500px !important;
        margin-right: 0 !important;
    }
    .search-form input[type="button"] {
        margin-left: 0 !important;
    }
