@model GameReview.Models.Game

@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews</h2>

@if(Model.Reviews.Count == 0)
{
    <h2>There doesn't seem to be any reviews!</h2>
    @Html.ActionLink("Why don't you create one?", "Create", "Reviews", new { id = Model.ID }, new { @class="h2"})
}
else
{
    foreach (var item in Model.Reviews)
    {
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@item.UserName</h3>
            </div>
            <div class="panel-body">
                @item.Content
            </div>
        </div>
    }
}

